%html
  %head
    %title Five Day Prototype
    %link{:href => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "style.css", :rel => "stylesheet"}

  %body
    .page-header
      .container
        .hero-unit
          %img.logo{ src: 'images/logo.png' }
          %h2 Get the ideas out of your head <br/> and into the world.

    .container
      .row.summary
        .third
          .circle
            %img{ src: 'images/icon.bulb.png' }
          %h4.bold Your idea...
          %p
            You have an idea. Something that makes money or makes the world a better place. (Ideally both.)
        %img.arrow1{ src: 'images/bg.rarr.png' }
        .third
          %img{ src: 'images/calendar.png' }
        %img.arrow2{ src: 'images/bg.rarr.png' }
        .third
          .circle
            %img{ src: 'images/icon.prototype.png' }
          %h4.bold ...prototyped.
          %p Your idea is in the world. It may be a wireframe, a working website, a landing page, paying customers, or something else.
        %img.line-down{ src: 'images/bg.line_down.png' }

      .row.why.large
        %p
          %span.bold There's a reason we work in 5 day blocks.
          That's just enough time to make the most important feature (or 2) of your idea concrete. We take your idea (or problem, or market, or customer segment) and find the simplest, most direct way to answer one question:
          %em should I keep going?

      .row.examples
        .span3.offset1
          %h4.bold We do things like:
          %ul
            %li wireframes
            %li landing pages
            %li working websites
            %li customer interviews
            %li solution interviews

        .span3
          %h4.bold To help you:
          %ul
            %li understand your customers
            %li test markets
            %li do other things
            %li something else
            %li prepare an investor pitch

      .row.contact-us.large
        %h3.bold 5 days. $10k.
        %p
          We make things simple. A 5 day prototype lasts 5 days and it costs $10,000. You'll work closely with us as we simplify, iterate, and validate. When it's over, you'll have something something something close me. Please please close me.
        .button-container
          %a{ href: 'mailto:hello@fivedayprototype.com'} Get In Touch