%html
  %head
    %title Five Day Prototype
    %link{:href => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "style.css", :rel => "stylesheet"}

  %body
    .page-header
      .container
        .hero-unit
          %h1 Five Day Prototype
          %h3 We get the ideas out of your head <br/> and into the world.

    .container
      .row.summary
        .span3
          .circle
          %h4 Your idea...
          %p
            You have an idea. Something that makes money or makes the world a better place. (Ideally both.)
        .span3
          5 Days
        .span3
          .circle
          %h4 ...prototyped.
          %p Your idea is in the world. It may be a wireframe, a working website, a landing page, paying customers, or something else.

      .row.why
        %p
          %strong There's a reason we work in 5 day blocks.
          That's just enough time to make the most important feature (or 2) of your idea concrete. We take your idea (or problem, or market, or customer segment) and find the simplest, most direct way to answer one question:
          %em should I keept going?

      .row.examples