$darkBlue: #5888CD
$lightBlue: #DEE7F5

body
  margin-bottom: 100px

.page-header
  text-align: center
  border-bottom: none

  .hero-unit
    background-color: transparent
    padding: 20px

.row
  margin: 1px auto
  width: 720px
  padding: 30px
  border: 2px solid $lightBlue
  box-shadow: inset 0 0 1px 1px $lightBlue

h4
  text-align: center
  margin-bottom: 20px

.summary
  .span3
    text-align: center

    .circle
      margin: 20px auto
      width: 120px
      height: 120px
      background: $darkBlue
      border-radius: 50%

.examples
  padding-top: 50px

  .span3:first-child
    margin-left: 80px

  .span3
    background-color: $lightBlue
    padding: 20px 10px 20px 20px
    margin-left: 40px

.contact-us

  a
    div
      padding: 10px 20px
      margin: 30px 0 0 240px
      text-align: center
      font-size: 20px
      line-height: 24px
      color: white
      background-color: $darkBlue