.page-header
  text-align: center

  .hero-unit
    background-color: transparent

.row
  margin: 10px auto
  width: 720px
  padding: 30px
  box-shadow: 0px 0px 10px -1px #5C8AE6

  .span3
    text-align: center

    .circle
      margin: 20px auto
      width: 120px
      height: 120px
      background: #5888CD
      border-radius: 50%