.page-header {
  text-align: center; }
.page-header .hero-unit {
  background-color: transparent;
  padding: 30px; }

.row {
  margin: 1px auto;
  width: 720px;
  padding: 30px;
  border: 2px solid #dee7f5;
  box-shadow: inset 0 0 1px 1px #dee7f5; }

h4 {
  text-align: center;
  margin-bottom: 20px; }

.summary .span3 {
  text-align: center; }
.summary .span3 .circle {
  margin: 20px auto;
  width: 120px;
  height: 120px;
  background: #5888cd;
  border-radius: 50%; }

.examples {
  padding-top: 50px; }
.examples .span3:first-child {
  margin-left: 80px; }
.examples .span3 {
  background-color: #dee7f5;
  padding: 20px 10px 20px 20px;
  margin-left: 40px; }

.contact-us button {
  text-align: center;
  margin-top: 20px; }
